.hamburger
    display: flex
    flex-direction: column
    width: 30px
    gap: 4px
    background: none
    border: none
    outline: none
    cursor: pointer
    &__element
        width: 100%
        background-color: #eadede
        padding: 2px
        transform-origin: 10% 1.5px
        transition: transform .1s linear
        &--rotated45
            transform: rotate(45deg)
        &--hidden
            visibility: hidden
        &--rotated-45
            transform: rotate(-45deg)
