.navigation
    position: fixed
    display: flex
    top: 10px
    left: 50%
    width: 90%
    justify-content: space-between
    align-items: baseline
    transform: translateX(-50%)
    &__logo
        font-size: 1.5em
        color: #eadede
    &__elements-wrapper
    &__menu
        position: fixed
        width: 80%
        height: 100vh
        padding: 28px 20px
        background: #2f2f2f
        box-shadow: 0 0 15px black
        left: -85vw
        top: -10px
        transition: transform .2s linear
        @media (min-width: 767px)
            display: flex
            align-items: baseline
            gap: 25px
            position: static
            height: auto
            width: 100%
            padding: 0
            box-shadow: none
            left: 0
            top: 0
        &--show
            transform: translateX(80vw)
    &__list
        list-style-type: none
        @media (min-width: 767px)
            display: flex
            gap: 15px
    &__item
        margin-bottom: 10px
        @media (min-width: 767px)
            margin-bottom: 0
    &__link
        display: inline-block
        position: relative
        color: #797979
        text-decoration: none
        transition: color .1s linear
        &::after
            content: ""
            position: absolute
            width: 100%
            height: 1px
            left: 0
            bottom: -5px
            background: #797979
            transform: scaleX(0)
            transition: transform .1s linear
        &:hover
            color: #c6bcbc
            &::after
                transform: scaleX(1)
    &__search
        min-width: 150px
        width: 50%
        max-width: 200px
        margin-top: 10px
        padding: 4px 16px
        border: 1px solid #797979
        border-radius: 30px
        line-height: 150%
        color: #797979
        outline: none
        background: none
        transition: box-shadow .1s linear
        @media (min-width: 767px)
            width: 120px
        &:focus
            box-shadow: 0px 0px 1px#fefefead, 0px 0px 3px #fefefe8a
        &:valid
            border: 1px solid #c6bcbc
