@use './variables/globalVariable'
@use './variables/globalMixins'

.navigation
    @include globalMixins.setFlexBox($justify: space-between, $align: center)
    position: fixed
    z-index: 10
    top: 0
    left: 50%
    width: 90%
    max-height: globalVariable.$maxNavigationHeight
    padding: 10px 0 20px 0
    background: #2f2f2f
    transform: translateX(-50%)
    @include globalMixins.tabletDevice
        align-items: baseline
    &__logo
        font-size: 1.5em
        color: map-get(globalVariable.$textColors, "primaryBrightened")
        font-family: 'Alegreya Sans SC'
    &__menu
        position: fixed
        left: -85vw
        top: 0
        width: 80%
        height: 100vh
        padding: 28px 20px
        background: #2f2f2f
        box-shadow: 0 0 15px black
        transition: transform .2s linear
        @include globalMixins.tabletDevice
            @include globalMixins.setFlexBox($align: baseline, $gap: globalVariable.$gapItemsM)
            position: static
            width: 100%
            height: auto
            padding: 0
            box-shadow: none
        &--show
            transform: translateX(80vw)
    &__list
        list-style-type: none
        @include globalMixins.tabletDevice
            @include globalMixins.setFlexBox($gap: globalVariable.$gapItemsS)
    &__item
        margin-bottom: globalVariable.$gapItemsS
        @include globalMixins.tabletDevice
            margin-bottom: 0
    &__link
        display: inline-block
        position: relative
        color: map-get(globalVariable.$textColors, "primary")
        text-decoration: none
        transition: color .1s linear
        &::after
            content: ""
            position: absolute
            width: 100%
            height: 1px
            left: 0
            bottom: -5px
            background: map-get(globalVariable.$textColors, "primary")
            transform: scaleX(0)
            transition: transform .1s linear
        &:hover
            color: map-get(globalVariable.$textColors, "primaryBrightened")
            &::after
                transform: scaleX(1)
    &__search
        min-width: 150px
        width: 50%
        max-width: 200px
        line-height: 150%
        margin-top: globalVariable.$gapItemsS
        padding: 4px 16px
        border-radius: 30px
        border: 1px solid map-get(globalVariable.$textColors, "primary")
        color: map-get(globalVariable.$textColors, "primary")
        background: none
        outline: none
        transition: box-shadow .1s linear
        @include globalMixins.tabletDevice
            width: 150px
        &:focus
            box-shadow: 0px 0px 1px map-get(globalVariable.$textColors, "primaryBrightened"), 0px 0px 3px map-get(globalVariable.$textColors, "primaryBrightened")
        &:valid
            border: 1px solid map-get(globalVariable.$textColors, "primaryBrightened")
